body {
    
}
.divForText{
    position:absolute;
    z-index:inherit;
}


.logo{
    float:left;
    font-family:"Helvetica";
    font-size: 12px;
    color:white;
}

a{
    text-decoration:none;
    font-family:"Helvetica";
    font-size:small;
    color:white;
}

li{
    list-style:none;
    float:right;
    margin-left:15px;
    
}

.nav{
    
}
.Button{
            background-color: rgb(2,96,166);
            border: none;
            color: white;
            text-align:center;
            text-decoration: none;
            font-family:"Helvetica";
            font-size:small;
            cursor: pointer;
        }
.image{
    float:left;
    height:85px;
    width:85px;
    margin:0 auto;
    padding-left:10px;
}
.content{
    width:100%;
    margin: auto;
}